*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* #root{
    display: flex;
    justify-content: center;
    align-items: center;
} */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    
}

p{
    width: 40%;
}

img{
    width: 60%;
}